.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 60px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  width: 0;
  min-width: 0;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button,
.voice-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.current-user-picture,
.hamburger-menu,
.youtube-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-button {
  height: 39px;
  width: 64px;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  margin-left: -2px;
  margin-right: 10px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  font-family: Roboto, Arial;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon,
.voice-icon {
  height: 25px;
}

.voice-button {
  height: 39px;
  width: 39px;
  border-radius: 50%;
  border: none;
  background-color: rgb(248, 248, 248);
}

.right-section {
  width: 182px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  flex-shrink: 0;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -3px;
  right: -7px;
  background-color: rgb(204, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 50%;
  border: 2px solid white;
}

.current-user-picture {
  height: 32px;
  width: 34px;
  border-radius: 50%;
}