:root {
  --invert-rate: 0%;
  --video-info-color: rgb(96, 96, 96);
  --thumbnail-border-radius: 0;
  --video-time-border-radius: 2px;
}

.dark-theme {
  --invert-rate: 100%;
  --video-info-color: rgb(160, 160, 160);
  --thumbnail-border-radius: 14px;
  --video-time-border-radius: 6px;
}

.thumbnail {
  width: 100%;
  border-radius: var(--thumbnail-border-radius);
}

.video-title {
  filter: invert(var(--invert-rate));
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.video-link {
  text-decoration: none;
  color: black;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  border-radius: 50px;
  width: 36px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 4px;
  border-radius: var(--video-time-border-radius);
}

.video-author,
.video-stats {
  font-size: 14px;
  color: var(--video-info-color);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 870px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1125px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
